*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: darkgrey;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(8, 240, 163);
    padding: 10px;
}
.profile-image{
    height: 110px;
    width: 100px;
    border: 5px solid rgb(58, 228, 15) ;
    border-radius: 100%;
    float: left;

}

.header-bio{
    float: left;
    padding: 10px;
}
h1,h2,h3,h4,h5,h6{
    color: chocolate;
    font-weight: bold;

}
.header-contact{
    float: right;
    padding: 10px;

}
.header-contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
}
.header-contact a:hover{
    background-color: rgb(94, 245, 225);
    text-decoration: underline;
}
.div-clear{
    clear: both;
   

}
hr{
    border: 3px double rgb(14, 13, 13);
    width: 100%;
    border-bottom: none;
    margin: 10px;
    
}

.main-caption{
    font-size: 20px;
    color: chocolate;
    padding: 10px;
    font-weight: bold;

}
/*personal section*/
.personal-section{

}
.content{
         padding: 5px;
}
.left-div{
    width: 35%;
    float: left;
    
}
.right-div{
    width: 65%;
    float: left;
    
}
.common-hr{
    border: solid 2px black;
    border-bottom: none;
    width: 100%;
    margin: 20 auto;
    
    
}
.edu-template-left{
    width: 45%;
    float: left;

}
.edu-template-right{
    width: 45%;
    float: right;
}
/*footer */
.footer-key{
    background-color: rgb(8, 8, 8);
   
   text-align: center;
   padding: 10px;
   
   
}
.footer-key a{
    color: aliceblue;
    text-align: none ;
    margin: 10px;
}
.footer-key p{
    color: aliceblue;
    text-align: none ;
    margin-top: 15px;
}